.card {
    margin: 20px 0;
    max-width: 450px;
    min-width: 200px;
    min-height: 250px;
}

.card-number {
    padding-top: 30px;
}

.name-on-card {
    padding-top: 10px;
    text-transform: uppercase;
}

.valid-thru {
    padding-top: 30px;
    text-transform: uppercase;
}